apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1
  - name: PostgreSQL
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    uid: prometheus
    orgId: 1
    isDefault: true
    editable: true
    jsonData:
      timeInterval: 15s
      httpMethod: POST

  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    uid: postgresql
    orgId: 1
    isDefault: false
    editable: true
    jsonData:
      database: immog_db
      user: immog_user
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
    secureJsonData:
      password: ${DB_PASSWORD}
