apiVersion: 1

datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: postgres:5432
    uid: postgresql
    orgId: 1
    isDefault: false
    editable: true
    jsonData:
      database: immog_db
      user: immog_user
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1500
      timescaledb: false
